<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Profiling Rails Applications</title>

		<link rel="stylesheet" href="/slideshow/dist/reset.css">
		<link rel="stylesheet" href="/slideshow/dist/reveal.css">
		<link rel="stylesheet" href="/slideshow/dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="/slideshow/plugin/highlight/monokai.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<!--
					* title
					* why profile?
						* no investor cash
						* users getting mad
					* types of profiling
						* memory
						* cpu
						* time
					* tools of the trade
						* Benchmark
						* ruby-prof - https://github.com/ruby-prof/ruby-prof
					* worked example
				-->

				<!-- title -->
				<section>
          <img src="/hugo-searching.png" style="height: 40vh;">
          <h2>Profiling Rails Applications</h2>
					<em style="font-family: serif;">the Pups Unlimited story</em>
          <br><br>
          <small>twitter: <a href="https://twitter.com/zerosumjames">zerosumjames</a> / feedback: <a href="mailto:jsrn@hey.com">jsrn@hey.com</a> / header image: <a href="https://icons8.com/illustrations/illustration/hugo-searching">icons8</a></small>
				</section>
        <section><h1>🐶 Background 🐶</h1></section>
        <section>
          <p>You're a developer at Pups Unlimited, a small company that specialises in housing dogs and pairing them with new homes.</p>
        </section>
        <section>
          <p>People who want dogs can go on the Pups Unlimited website to view the catalogue (dogalogue?) of available pups and make reservations to come visit them.</p>
        </section>
        <section>
          <p>You're working with a pretty conventional stack:</p>
          <ul>
            <li>Ruby 2.6</li>
            <li>Rails 6</li>
            <li>Postgresql</li>
          </ul>
        </section>
        <section>
          <p>You usually have anywhere from 50 to 100 pups on the go at any one time. The app is pretty happy running under these conditions.</p>
        </section>
        <section>
          <p>But one day, disaster strikes. <em>(thunder sound effect)</em></p>
        </section>
        <section>
          <p>An illegal breeding operation running from nearby industrial estate has just gotten busted.</p>
        </section>
        <section>
          <p>Pups Unlimited has to process and house the rescued dogs. There are literally a million of them. And an important endpoint that handles reporting is timing out. Your server is on fire.</p>
        </section>
				<section>
					<p>It's your job to fix it.</p>
				</section>
				<section>
					<h2>Why Profile?</h2>

					<p>Profiling is a fast way of getting from "the app is running slowly" to "this block of code is running slowly."</p>
				</section>
				<section>
					<h2>Why Profile?</h2>

					<p>It's not always what you think. Starting by reading the code might lead you to fix code that <em>looks</em> inefficient, rather than code that actually is.</p>
				</section>

        <section>
          <h1>🕵️‍♀️ Methods 🕵️‍♀️</h1>
        </section>

        <section>
          <h2>"The Rails Developer"</h2>

          <img src="/slideshow/img/resize-instance.png" style="height: 50vh;">
        </section>

				<section>
					<h2>"The Puts Classic"</h2>

          <a href="/puppies/the_puts_classic" target="_blank">View</a>
				</section>

        <section>
          <h2>Benchmark</h2>

          <li><a href="/puppies/benchmark" target="_blank">View</a></li>
        </section>

        <section>
          <h2>ruby-prof</h2>

          <li><a href="/puppies/ruby_prof" target="_blank">View</a></li>
        </section>

        <section>
          <h2>rack-mini-profiler</h2>

          <li><a href="/puppies/rack_mini_profiler" target="_blank">View</a></li>
        </section>

				<section>
					<h2>Profiling in Development</h2>

					<p>A few things that can influence your profiles:</p>

					<ul>
						<li><code>config.cache_classes</code></li>
						<li><code>config.eager_load</code></li>
					</ul>
				</section>

				<section>
          <h2>Thanks!</h2>
        </section>
			</div>
		</div>

		<script src="/slideshow/dist/reveal.js"></script>
		<script src="/slideshow/plugin/notes/notes.js"></script>
		<script src="/slideshow/plugin/markdown/markdown.js"></script>
		<script src="/slideshow/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
